<template>
    <div>
        <aside class="right-sidebar">
            <div class="sidebar-chat" data-plugin="chat-sidebar">
                <div class="sidebar-chat-info">
                    <h6>Chat List</h6>
                    <form class="mr-t-10">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search for friends ...">
                            <i class="ik ik-search"></i>
                        </div>
                    </form>
                </div>
                <div class="chat-list">
                    <div class="list-group row">
                        <a href="javascript:void(0)" class="list-group-item" :data-chat-user="user.name"
                           v-for="user in users" :id="user.id" @click="chatHistory(user)">
                            <figure :class="(user.is_present)? 'user--online':'user--offline'">
                                <img src="resources/img/user.jpg" class="rounded-circle" :alt="user.name">
                            </figure>
                            <span><span class="name">{{user.name}}</span>  <span
                                    class="username">@{{user.name}}</span> </span>
                        </a>
                        <!--                        <a href="javascript:void(0)" class="list-group-item" data-chat-user="Gene Newman" v-if="send">-->
                        <!--                            <figure class="user&#45;&#45;online">-->
                        <!--                                <img src="resources/img/users/1.jpg" class="rounded-circle" alt="">-->
                        <!--                            </figure>-->
                        <!--                            <span><span class="name">Gene Newman</span>  <span-->
                        <!--                                    class="username">@gene_newman</span> </span>-->
                        <!--                        </a>-->
                    </div>
                </div>
            </div>
        </aside>
        <div class="chat-panel" hidden>
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <a href="javascript:void(0);"><i class="ik ik-message-square text-success"></i></a>
                    <span class="user-name">{{chatHead}}</span>
                    <button type="button" class="close" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="card-body chat-body">
                    <div class="widget-chat-activity flex-1">
                        <div class="messages scrollable">
                            <div v-for="message in messages" :id="message.id">
                                <div class="message media reply" v-if="message.created_by != auth.id">
                                    <figure>
                                        <a href="#">
                                            <img src="resources/img/users/3.jpg" class="rounded-circle" alt="">
                                        </a>
                                    </figure>
                                    <div class="message-body media-body">
                                        <p>{{message.message}}</p>
                                    </div>
                                </div>
                                <div class="message media" v-else>
                                    <figure>
                                        <a href="#">
                                            <img src="resources/img/users/1.jpg" class="rounded-circle" alt="">
                                        </a>
                                    </figure>
                                    <div class="message-body media-body">
                                        <p>{{message.message}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <form action="javascript:void(0)" class="card-footer">
                    <div class="d-flex justify-content-end">
                        <input type="text" class="form-control" placeholder="Type your message here" v-model="newMsg">
                        <button class="btn btn-icon" type="submit" @click="save"><i class="ik ik-arrow-right text-success"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ChatSidebar",
        props: ['auth'],
        data() {
            return {
                users: [],
                messages: [],
                chatHead: 'Chat',
                sendTo: '',
                newMsg: ''
            }
        },
        mounted() {
            this.loadUsers();
        },
        created() {
            window.Echo.channel('chat-' + this.auth.id).listen('MessageSent', (e) => {
                if (e.message.created_by == this.sendTo) {
                    this.messages.push(e.message);
                    $(".messages").animate({scrollTop: $('.messages').prop("scrollHeight")}, 500);
                }
            });
            window.Echo.join('online')
                .here(users => this.present(users))
                .joining(auth => this.users.filter(function (user) {
                    if (user.id == auth.id) {
                        user.is_present = true;
                    }
                }))
                .leaving(auth => this.users.filter(function (user) {
                    if (user.id == auth.id) {
                        user.is_present = false;
                    }
                }))
        },
        methods: {
            loadUsers: function () {
                axios.get('/messenger/users').then(response => (this.users = response.data));
            },
            chatHistory: function (user) {
                $('.chat-panel').removeAttr('hidden');
                this.sendTo = user.id;
                this.chatHead = user.name;
                var hello = this;
                axios.get('/messenger/' + user.id).then(function (response) {
                    hello.send = true;
                    hello.messages = response.data;
                });
                $(".messages").animate({scrollTop: $('.messages').prop("scrollHeight")}, 500);
            },
            save: function () {
                var hello = this;
                let data = {to: this.sendTo, message: this.newMsg};
                hello.newMsg = '';
                axios.post(`/messenger`, data).then(function (response) {
                    hello.messages.push(response.data);
                    $(".messages").animate({scrollTop: $('.messages').prop("scrollHeight")}, 500);
                });
            },
            present: function (audiences) {
                var hello = this;
                $.each(audiences, function (index, value) {
                    hello.users.filter(function (user) {
                        if (user.id == value.id) {
                            user.is_present = true;
                        }
                    })
                })
            }
        }
    }
</script>

<style scoped>
    .scrollable {
        overflow-x: scroll;
    }
    .messages {
        min-height: 300px;
    }
</style>