<template>
    <div class="row">
        <!-- product and new customar start -->
        <div class="col-xl-3 col-md-4">
            <div class="card new-cust-card">
                <div class="card-header">
                    <h3>Users</h3>
                    <div class="card-header-right">
                        <ul class="list-unstyled card-option">
                            <li><i class="ik ik-chevron-left action-toggle"></i></li>
                            <li><i class="ik ik-minus minimize-card"></i></li>
                            <li><i class="ik ik-x close-card"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="card-block">
                    <div class="align-middle mb-25 user" v-if="user.id != auth.id" v-for="user in users" :id="user.id"
                         @click="chatHistory(user)">
                        <img src="resources/img/user.jpg" :alt="user.name"
                             class="rounded-circle img-40 align-middle mr-15">
                        <div class="d-inline-block">
                            <h6>{{user.name}}</h6>

                            <!--                            <p class="text-muted mb-0">stay hungry stay foolish!</p>-->
                            <span class="status active" v-if="user.is_present"></span>
                            <!--                            <span class="status deactive text-mute"><i class="far fa-clock mr-10"></i>30 min ago</span>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-md-8" v-if="send">
            <div class="card chat-card">
                <div class="card-header">
                    <h3>{{chatHead}}</h3>
                    <div class="card-header-right">
                        <ul class="list-unstyled card-option">
                            <li><i class="ik ik-chevron-left action-toggle"></i></li>
                            <li><i class="ik ik-minus minimize-card"></i></li>
                            <li><i class="ik ik-x close-card"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="card-body scrollable chat-body">
                    <div v-for="message in messages" :id="message.id">
                        <div class="row mb-20 received-chat" v-if="message.created_by != auth.id">
                            <div class="col-auto pr-0">
                                <img src="resources/img/user.jpg" alt="user image"
                                     class="rounded-circle img-40">
                            </div>
                            <div class="col">
                                <div class="msg">
                                    <p class="mb-0">{{message.message}}</p>
                                </div>
                                <p class="text-muted mb-0"><i class="fa fa-clock-o mr-10"></i>{{message.created_at}}</p>
                            </div>
                        </div>
                        <div class="row mb-20 send-chat" v-else>
                            <div class="col">
                                <div class="msg">
                                    <p class="mb-0">{{message.message}}</p>
                                </div>
                                <p class="text-muted mb-0"><i class="fa fa-clock-o mr-10"></i>{{message.created_at}}</p>
                            </div>
                            <div class="col-auto pl-0">
                                <img src="resources/img/user.jpg" alt="user image"
                                     class="rounded-circle img-40">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer" v-if="send">
                    <form @submit.prevent="save">
                        <div class="right-icon-control">
                            <div class="input-group input-group-button">
                                <div class="input-group-prepend">
                                    <img src="resources/img/user.jpg" alt="user image"
                                         class="rounded-circle img-40 mr-2">
                                </div>
                                <input type="text" class="form-control" placeholder="Send message" v-model="newMsg">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button" @click="save"><i
                                            class="ik ik-send"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- product and new customar end -->
    </div>
</template>

<script>
    export default {
        props: ['auth'],
        data() {
            return {
                users: [],
                messages: [],
                send: false,
                chatHead: 'Chat',
                sendTo: '',
                newMsg: ''
            }
        },
        mounted() {
            this.loadUsers();
        },
        created() {
            window.Echo.channel('chat-' + this.auth.id).listen('MessageSent', (e) => {
                if (e.message.created_by == this.sendTo) {
                    this.messages.push(e.message);
                    $(".chat-body").animate({scrollTop: $('.chat-body').prop("scrollHeight")}, 500);
                }
            });
            window.Echo.join('online')
                .here(users => this.present(users))
                .joining(auth => this.users.filter(function (user) {
                    if (user.id == auth.id) {
                        user.is_present = true;
                    }
                }))
                .leaving(auth => this.users.filter(function (user) {
                    if (user.id == auth.id) {
                        user.is_present = false;
                    }
                }))
        },
        methods: {
            loadUsers: function () {
                axios.get('/messenger/users').then(response => (this.users = response.data));
            },
            chatHistory: function (user) {
                $('.user').removeClass('active');
                $('.user#' + user.id).addClass('active');
                this.sendTo = user.id;
                this.chatHead = user.name;
                var hello = this;
                axios.get('/messenger/' + user.id).then(function (response) {
                    hello.send = true;
                    hello.messages = response.data;
                });
                $(".chat-body").animate({scrollTop: $('.chat-body').prop("scrollHeight")}, 500);
            },
            save: function () {
                var hello = this;
                axios.post(`/messenger`, {to: this.sendTo, message: this.newMsg}).then(function (response) {
                    hello.messages.push(response.data);
                    hello.newMsg = '';
                    $(".chat-body").animate({scrollTop: $('.chat-body').prop("scrollHeight")}, 500);
                });
            },
            present: function (audiences) {
                var hello = this;
                $.each(audiences, function (index, value) {
                    hello.users.filter(function (user) {
                        if (user.id == value.id) {
                            user.is_present = true;
                        }
                    })
                })
            }
        }
    }
</script>
<style scoped>
    .user:hover {
        font-size: 2em;
        background-color:ghostwhite;
        cursor: pointer;
    }

    .user.active, .user:active {
        background-color: ghostwhite;
    }

    .scrollable {
        overflow-x: scroll;
    }

    .chat-card .card-body {
        height: 53vh;
    }

</style>
