.select2{
    width:100% !important;
}
.dataTable{
    width:100% !important;
    margin-left:auto !important;
    /*table-layout: fixed;*/
}
.dataTable td{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
/*Form wizard*/
.custom-file-label{
    overflow: hidden !important;
}
.fs-12{
	font-size: 12px;
}
.text-note{
	color: #00B5B8;
}
.mt-m15{
	margin-top: -15px;
}
.table tbody td .table-actions a{
    cursor: pointer;
}
.clickable{
    color: #d66c60;
}
.contact-person-photo-small{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.primarycontact{
    border: 1px solid;
    font-size: 9px;
    padding: 2px;
    background-color: darkgreen;
}
.tab-pane .card-header button{
    margin-top: -15px;
}
.tab-pane .card-header h3{
    margin-top: -10px;
}
.form-horizontal label{
    font-weight: bold;
}
.dataTable th:first-child {
  width: 5% !important;
}
.profile-photo > img{
    margin-left: -10px;
}
.image-upload{
  float: left;
  cursor: pointer;
  font-size: 20px;
}
.image-upload > label{
  cursor: pointer;
}
.image-upload > input {
  display: none;
}
.full-text{
    white-space: normal;
    text-align: justify;
}
.color-tag{
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 2px 10px 0 0;
  transition: all 300ms ease;
  -moz-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
.projectstatus-table{
  table-layout: inherit !important;
}
.dt-p-lf{
  padding: 0px 10px;
}
.show-project-status-box{
  display: show;
}
.hide-project-status-box{
  display: none;
}
.d-hover:hover{
  cursor: pointer;
}
.show-project a{
  color: #22903b;
}
.employee-img-small{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.mt-n1 {
  margin-top: -1rem !important;
}
.activity-status-btn{
  color: #fff;
  text-align: center;
  padding: 2px 8px;
  border-radius: 2px;
  font-size: 12px;
}
.table tbody td .table-actions button{
  color: #bcc1c6;
  padding: 0px;
}
.action-box > .dropdown-menu .dropdown-item{
  padding: 0px;
}
.action-box > .dropdown-menu:after, .dropdown-menu::after{
  left: 50%;
  right: 50%;
}
.action-box > .dropdown-menu{
  width: 100px;
  text-align: justify;
}
.action-box > .list-group-item{
  padding: .5rem .75rem;
}
.list-group-item a{
  cursor: pointer;
}
#appendArea button{
  width: 100%;
}
.payment-btn > .form-control{
  background-color: #0fb9d8;
}
.remove-btn > .form-control{
  background-color: #f41e48;
}
.estimate-details-head span{
  padding: 4px;
}
.text-border{
  border: 2px solid #19B5FE;
  padding: 3px 5px;
}
.th-fixed-width{
  width: 50px;
}
a{
  cursor: pointer;
}
.display-none{
  display: none;
}