​.switch{
  margin-right: 50px !important;
}
div label{
  margin-right: 50px;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.switch input[type="checkbox"]{
  position: absolute;
}
.slider {
    position: absolute;
    cursor: pointer;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    width: 50px;
    height: 17px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 9px;
    width: 20px;
    left: 2px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
   transition: .4s;
}

.switch input:checked + .slider {
  background-color: #09c106;
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #09c106;
}

.switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}